.header__logo {
    margin-bottom: 41px;
}

@media screen and (max-width: 680px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
        margin-bottom: 27.6px;
    }
}