.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}
@media screen and (max-width: 680px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 90%;
    }
}
