.profile__avatar-container{
    max-width: 120px;
    max-height: 120px;
    position: relative;
    cursor: pointer;
}
.profile__avatar-container::before{
    content: url('../../../images/BigPen.svg');
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.2s linear 0s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.profile__avatar-container:hover:before{
display: flex;
}