@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./blocks/main-page/main-page.css);
@import url(./blocks/main-page/__container/main-page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profole__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__heart-amount/element__heart-amount.css);
@import url(./blocks/element/__heart/element__heart.css);
@import url(./blocks/element/__heart/_active/element__heart_active.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_active/element__trash_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copiright/footer__copiright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_coinf/popup__title_coif.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_coinf/popup__save-button_coinf.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/popup__error_visible.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);