.element__title {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 25px auto 31px 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}