.popup {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.5s linear;
}